<%-include('partials/_main')%>
<form class="card transferencia" action="/ingresar/login/transfer_mony/<%= row[0].id_users %>" method="post">
    <p class="user" id="user_name" >Usuario: <%= row[0].name_user %></p>
    <p class="cbu" id="cbus">CBU N°: <%= row[0].CBU %></p>
    <p class="saldo">Saldo actual en la cuenta: $<%= row[0].SALDO_CUENTA %></p>
    <h1 class="transferir">Transferir dinero de la cuenta</h1>
    
    <input type="number" name="cbu_transferencia" placeholder="Ingrese el CBU de la cuenta a transferir:">
    <input type="str" name="name_transferencia" placeholder="Nombre de usuario de la cuenta a transferir:">
    <input type="number" name="monto_transferencia" placeholder="Monto de su cuenta a transferir:">
        
    <button type="submit" class="btn btn-primary">Transferir</button>
    <a class="btn btn-primary" href="/ingresar/home">Volver</a> 
</form>
<%-include('partials/_footer')%>